/* App styles */
html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: #fff;
  line-height: 1;
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

h1 {
  font-size: 24px;
  text-align: center;
}

button {
  cursor: pointer;
  border: none;
}

input[type="email"] {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-bottom: solid 1px #c9c9c9;
  transition: border 0.3s;
  border-radius: 4px;
}

input[type="password"] {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  border-bottom: solid 1px #c9c9c9;
  transition: border 0.3s;
}
input[type="email"]:focus,
input[type="password"].focus {
  border-bottom: solid 2px #969696;
}


.button {
  transition: background-color 0.3s;
  height: fit-content;
  margin-top: 12px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  background-color: #204678;
  color: #fff;
  border-radius: 4px;
}

.button:hover {
  background-color: #2a5c9c;
}

/* StopwatchList styles */
.stopwatch-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 20px 0  10px 0;
}

.stopwatch-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  width: 100%;
  max-width: 400px;
}

.stopwatch-container h2 {
  margin: 0 0 8px;
  font-size: 16px;
  font-weight: bold;
  /* text-transform: uppercase; */
  cursor: pointer;
}

.stopwatch-container h2:hover {
  color: #555 !important;
  text-decoration: underline;
  border-radius: 4px;
}

.stopwatch-container .stopwatch-info {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.stopwatch-container .stopwatch-info p {
  margin: 0;
  font-size: 10px;
}
.stopwatch-container .stopwatch-time {
  margin: 0;
  font-size: 16px;
  cursor: pointer;
}

.stopwatch-container .stopwatch-time-displayed:hover{
  color: red;
  transition: color 0.1s;
}

.stopwatch-edit-time input {
  width: 50px;
  margin-right: 0.5rem;
}
.stopwatch-edit-time label {
  font-size: 12px;
  text-transform: uppercase;
}
.stopwatch-edit-time button {
  font-size: 8px !important;
  margin-left: 0.5rem;
  margin-top: 0 !important;
  text-transform: uppercase;
  min-width: 20px !important;
  border-radius: 30px !important;
  vertical-align: middle; 
}

.stopwatch-controls {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.stopwatch-container .button {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #205e78;
  min-width: 60px;
}

.stopwatch-container .button:not(:last-child) {
  margin-right: 1rem;
}

.stopwatch-container .button:hover {
  background-color: #277495;
}

.stopwatch-container .pause-button {
  animation: pulsate 2s ease-in-out infinite;
}

.stopwatch-container .remove-button {
  background-color: #d72c29;
  transition: background-color 0.3s;
}

.stopwatch-container .remove-button:hover {
  background-color: #eb4033;
  transition: background-color 0.3s;
}

/* Define the keyframes */
@keyframes pulsate {
  0% {
    background-color: #e89300;
  }
  50% {
    background-color: #e7af15;
  }
  100% {
    background-color: #e89300;
  }
}

.stopwatch-container .remove-button:focus {
  outline: none;
}

/* Modal */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2046786e;
}

.modal .add-stopwatch {
  position: relative;
  padding: 2rem;
  border: 2px solid rgb(32, 94, 121);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: 1;
}

.modal .add-stopwatch__close {
  background-color: transparent;
  color: rgb(54, 54, 54);
  position: absolute;
  top: 9px;
  right: 5px;
}

.modal .add-stopwatch__close::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: blur(8px);
  z-index: -1;
  background-color: transparent;
  transition: background-color 0.3s;
}

.modal .add-stopwatch__close:hover::before {
  background-color: rgba(32, 94, 121, 0.26);
  transition: background-color 0.3s;
}

/* Control */
.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  padding: 0.3rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.control input:focus,
.control textarea:focus {
  outline: none;
  border-color: #230052;
}

.control-button {
  width: 100%
} 

/* Auth */
.auth {
  border: 2px solid #204678;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  background-color: #20467809;
}

.auth * + * {
  margin-top: 1rem;
}

.auth .side-text {
  margin-left: 1rem;
}

.auth .error-message {
  margin-bottom: 0;
  color: red;
  font-weight: 400;
}

.hide {
  display: none;
}